<configuration>
	<system.webServer>
			<handlers>
				<remove name="PHP-Handler" />
				<remove name="ASPX" />
				<remove name="CGI-exe" />
				<remove name="EXE" />
				<remove name="ScriptHandlerFactoryAppPool" />
				<remove name="ISAPI-dll" />
				<remove name="ISAPI-exe" />
			</handlers>

			<security>
				<requestFiltering>
					<fileExtensions>
						<remove fileExtension=".php" />
						<remove fileExtension=".aspx" />
						<remove fileExtension=".cshtml" />
						<remove fileExtension=".asp" />
						<remove fileExtension=".exe" />
						<remove fileExtension=".cgi" />
						<remove fileExtension=".py" />
						<remove fileExtension=".pl" />
						<remove fileExtension=".rb" />
						<remove fileExtension=".jsp" />
						<remove fileExtension=".sh" />
						<remove fileExtension=".bat" />
						<remove fileExtension=".cmd" />
						<remove fileExtension=".dll" />
						<remove fileExtension=".msi" />
						<remove fileExtension=".vbs" />
						<remove fileExtension=".ps1" />
						<remove fileExtension=".jar" />
						<remove fileExtension=".war" />
					</fileExtensions>
				</requestFiltering>
			</security>
	</system.webServer>
</configuration>
